<div class="card-wrapper">
  <div class="row">
    <div class="columns">
      <table class="h-table h-table-margin">
        <tbody><tr>
          <td class="h-content"><h3 class="antialiased">{{category}}</h3></td>
          <td class="h-line"><div></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="owl-carousel owl-theme">
    {{#each data as |presentation|}}
      {{#paper-card class="card"}}
          {{#unless presentation.available}}
            <div class="coming-soon-wrapper">
              <img src="images/comingSoon.png" alt="" />
            </div>
          {{/unless}}
          <div class="row">
            <div class="columns">
                <img src={{presentation.snapshotImg}}>
            </div>
          </div>

          <div class = "row">
            <div class = "small-12 medium-12 large-12 columns desc">
                <h2>{{presentation.author}}</h2>
                <p>{{presentation.title}}</p>
            </div>
          </div>
          {{paper-divider}}
          <div class = "row button-bar">
            {{#if presentation.isLive}}
              <div class = "small-12 medium-12 large-12 columns">
                {{#paper-button primary=true raised=true action=(action "present" presentation) class="fullWidth"}}
                  Join
                {{/paper-button}}
              </div>
            {{else}}
              <div class = "small-6 medium-6 large-6 columns">
                {{#paper-button primary=true raised=true action=(action "present" presentation)}}
                  Present
                {{/paper-button}}
              </div>
              <div class = "small-6 medium-6 large-6 columns">
                {{#paper-button raised=true action=(action "view" presentation.id)}}View{{/paper-button}}
              </div>
            {{/if}}
          </div>
      {{/paper-card}}
    {{/each}}
  </div>
</div>
