<div class="slide">
  <div class="row fullWidth">
    <div id="left-panel">
      {{#if questionData}}
        {{teach-chart timeCompleted=timeCompleted}}
        {{paper-divider}}
        {{teach-question question=questionData questionTimeCompleted=(action 'questionTimeCompleted')}}
      {{/if}}
    </div>
    <div class="small-12 medium-12 large-12 columns">
      {{teach-reveal-slide data=data slideQuestion=(action 'slideQuestion') slideInfo=(action 'slideInfo')}}
    </div>
    {{#if isUserListFilled}}
      <div id="right-panel">
        {{teach-list data=userList}}
      </div>
    {{/if}}  
  </div>
</div>
