<div class="slide">
  <div class="row fullWidth">
    <div id="left-panel" style="left:{{leftPanelWidth}}">
      {{teach-chart timeCompleted=timeCompleted self=chartContext}}
      {{paper-divider}}
      {{teach-question question=questionData questionTimeCompleted=(action 'questionTimeCompleted') onAnswer=(action 'onAnswer')}}
    </div>
    <div class="small-12 medium-12 large-12 columns">
      {{teach-reveal-slide slides=slides config=config slideQuestion=(action 'slideQuestion') slideInfo=(action 'slideInfo') slideStateUpdate=(action 'slideStateUpdate')}}
    </div>
    {{#if isUserListFilled}}
      <div id="right-panel">
        {{teach-list data=userList}}
      </div>
    {{/if}}
  </div>
</div>
