<div class="question-wrapper">
  <div class="question">
    {{question.title}}
  </div>
  {{#unless isQsTimeCompleted}}
    <div class="options">
      {{#if isSingleSelection}}
        {{#each option in question.options}}
          {{#paper-radio value=option.id selected=selectedValue changed=(action 'change' option.id)}}{{option.value}}{{/paper-radio}}
        {{/each}}
      {{else}}
        {{#each option in question.options}}
          {{teach-checkbox value=option.value onChecked=(action 'onChecked' option.id) onUnChecked=(action 'onUnChecked' option.id)}}
        {{/each}}
      {{/if}}
    </div>
    <div class='timer'>
      {{timeToShow}}
    </div>
    {{#paper-button action="submit" raised=true primary=true disabled=isSubmitDisabled class="buttonClass"}}Submit{{/paper-button}}
  {{else}}
    Correct Answer:
    <span class="success-font">
      {{#each answer in correctAnswerArray}}
        {{answer}}
      {{/each}}
    </span>
  {{/unless}}
</div>
