<div class="row">
  <div class="large-10 columns">
    <div class="question">
      {{question.title}}
    </div>
    <div class="options">
      {{#if isSingleSelection}}
        {{#each option in question.options}}
          {{#paper-radio value=option.value selected=selectedValue changed=(action 'change' option.value)}}{{option.value}}{{/paper-radio}}
        {{/each}}
      {{else}}
        {{#each option in question.options}}
          {{#paper-checkbox value=option.value checked=option.selected action="change" on='change'}}{{option.value}}{{/paper-checkbox}}
        {{/each}}
      {{/if}}
    </div>
    <div class='timer'>
      {{timeToShow}}
    </div>
    <div class="large-8">
      {{#paper-button action="submit" primary=true disabled=isSubmitDisabled class="buttonClass"}}Submit{{/paper-button}}
    </div>
  </div>
</div>
